<configuration debug="false">
    <jmxConfigurator/>
    <contextName>OS project</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{yy/MM/dd HH:mm:ss.SSS} %-5level [%thread]) %logger{50}: %X{name}%m%n
            </pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="console"/>
    </root>
</configuration>